
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signup" th:method="POST" th:action="@{/people/new}" th:object="${person}">
        <h2 class="form-signup-heading">Sign up page</h2>
        <p>
            <label for="name" class="sr-only">Username:</label>
            <input type="text" id="name"  name="name" th:field="*{name}"  class="form-control" placeholder="Name" required>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
        </p>
        <p>
            <label for="surname" class="sr-only">Password:</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required>
            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname Error</div>
        </p>
        <p>
            <label for="login" class="sr-only">Login:</label>
            <input type="text" id="login" name="login" class="form-control" placeholder="Login" required>
            <div style="color:red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login Error</div>
        </p>
        <p>
            <label for="information" class="sr-only">Enter some information about you:</label>
            <textarea id="information" name="information" class="form-control" placeholder="Information"></textarea>
        </p>
        <p>
            <label for="birthday" class="sr-only">Your birthday:</label>
            <input type="date" id="birthday" name="birthday" class="form-control" required>
            <div style="color:red" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">Birthday Error</div>
        </p>

        <p>
            <label for="address" class="sr-only">Address:</label>
            <input type="text" id="address" name="address" class="form-control" placeholder="Address" required>
            <div style="color:red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</div>
        </p>

        <p>
            <label for="password" >Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        </p>

        <p>
            <label for="confirmPassword">Confirm password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
            <div style="color:red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Password Error</div>
        </p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
</div>
</body></html>