<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Change password</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/people/{login}/resetPassword(login=${login})}" th:object="${password}">
        <h2 class="form-signin-heading">Changing password</h2>
        <p>
            <label for="userOldPassword" >Old password: </label>
            <input type="password" id="userOldPassword" name="userOldPassword" class="form-control" required autofocus>
            <div style="color:red" th:if="${#fields.hasErrors('userOldPassword')}" th:errors="*{userOldPassword}">Name Error</div>
        </p>
        <p>
            <label for="newPassword" >New password: </label>
            <input type="password" id="newPassword" name="newPassword" class="form-control" required>
            <div style="color:red" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Name Error</div>
        </p>

        <p>
            <label for="confirmNewPassword">Confirm new password: </label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" class="form-control" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change</button>
    </form>
</div>
</body>
</html>